.BestCountry {
  text-align: center;
  margin: 30px;
  height: 200px;
  width: 200px;
  border-style: solid;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  background-color: #bcf0ff;
  overflow-y: auto;
}
